AddDefaultCharset utf-8
DirectoryIndex index.html

<Files .*>
  Require all denied
</Files>

<Files *.rb>
  Require all denied
</Files>

<IfModule mod_headers.c>
  <Files *.html>
    Header set X-UA-Compatible "IE=Edge,chrome=1"
  </Files>
</IfModule>