AddDefaultCharset utf-8
DirectoryIndex index.html

<Files .*>
  Order deny,allow
  Deny from all
</Files>

<Files *.rb>
  Order deny,allow
  Deny from all
</Files>

<IfModule mod_headers.c>
  <Files *.html>
    Header set X-UA-Compatible "IE=Edge,chrome=1"
  </Files>
</IfModule>