/* This hack is here to distance our stuff from the total reliance on EM units by the Foundation framework. */
/* Overrides some Foundation-specific stuff to use PTs instead of EMs. */

$em-base: 9pt;

@function strip-unit($num) { @return $num / ($num * 0 + 1); }

@function convert-to-em($value, $base-value: $em-base)  {
  $value: strip-unit($value) * 1pt;
  @if ($value == 0pt) { $value: 0; }
  @return $value;
}

@function em-calc($values, $base-value: $em-base) {
  $max: length($values);
  @if $max == 1 { @return convert-to-em(nth($values, 1), $base-value); }
  $emValues: ();
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i), $base-value));
  }
  @return $emValues;
}

@function emCalc($pxWidth) { @return $pxWidth / $em-base * 1pt; }